<html>
	<head>
		<style type="text/css">
			h1 {
				color:green;
			}
		</style>
	</head>
	<body>
		<img src="{{url_for('static', filename='steris.png', _external=True)}}" alt="STERIS" />
		<h1>
			Hello Sunshine
		</h1>
		<ul>
			{% for model in models %}
				<li>{{model.name}}</li>
			{% endfor %}
		</ul>
	</body>
</html>